/* Fonts */
@font-face {
    font-family: "Helvetica Now Display Regular";
    src: url("/Fonts/HelveticaNowDisplay-Regular.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Helvetica Now Display Medium";
    src: url("/Fonts/HelveticaNowDisplay-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Helvetica Now Display Light";
    src: url("/Fonts/HelveticaNowDisplay-Light.ttf");
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: calc(100vh - 25px);
    overflow-x: hidden;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    background-color: #d4d4d4;
    border-radius: 7px;
}

.logo h6 {
    font-family: "Helvetica Now Display Regular", Arial, Helvetica, sans-serif;
    font-size: 19.2px;
}

.therapod-info {
    height: 100%
}

.therapod-info h6 {
    font-family: "Helvetica Now Display Regular", Arial, Helvetica, sans-serif;
    font-size: 19.2px;
    text-transform: uppercase;
    text-align: center;
}

.therapod-info small {
    font-family: "Helvetica Now Display Light", Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    text-align: center;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 25px;
}

.right-side button {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.right-side button i {
    font-size: 25px;
}

header {
    position: relative;
    z-index: 1;
}

.menu {
    position: absolute;
    top: -25px;
    right: -100%;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 250px;
    padding: 25px;
    z-index: 10;
    background-color: white;
    transition: right 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.menu button{
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 40px;
}

.menu button i {
    font-size: 30px;
    transition: 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.menu button:hover i {
    transform: rotate(90deg);
}

.menu-tabs {
    width: 100%;
}

.menu-tabs ul li {
    list-style-type: none;
    cursor: pointer;
}

.menu-tabs ul li:not(:last-child) {
    margin-bottom: 15px;
}

.menu-tabs ul li .tab-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-tabs ul li .tab-info p {
    font-family: "Helvetica Now Display Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.menu-tabs ul li .tab-info i {
    font-size: 25px;
}

.dropdown-info {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    margin-top: 10px;
}

.dropdown-info p {
    font-family: "Helvetica Now Display Light", Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    line-height: 1.5;
}

.dropdown-info p strong {
    font-family: "Helvetica Now Display Medium", Arial, Helvetica, sans-serif;
}

hr {
    border-color: #d4d4d4;
}

/* Login Form */
form {
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    width: 360px;
    height: 350px;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form h5 {
    color: #000;
    text-align: center;
    font-family: "Helvetica Now Display Regular", Arial, Helvetica, sans-serif;
    font-size: 23.04px;
    margin-bottom: 15px;

}

form h6 {
    color: #000;
    text-align: center;
    font-family: "Helvetica Now Display Regular", Arial, Helvetica, sans-serif;
    font-size: 19.2px;
    margin-bottom: 30px;
}

form .container {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

form .container input[type="text"] {
    height: 40px;
    font-family: "Helvetica Now Display Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 8px;
    outline: none;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
}

form .container input[type="password"] {
    height: 40px;
    font-family: "Helvetica Now Display Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 8px;
    outline: none;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    width: calc(100% - 20px);
    margin-bottom: 30px;
}

form .container button {
    font-family: "Helvetica Now Display Regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 24px;
    max-width: 90px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #0d0d0d;
    cursor: pointer;
}

.form-container {
    height: calc(100% - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}




/* Media Queries */
@media screen and (max-width: 768px) {
    .menu {
        width: calc(100vw - 50px);
    }

    .therapod-info {
        display: none;
    }

    form {
        border: none;
    }
}